@layer components {
  .nav-item {
    @apply cursor-pointer text-primary-light hover:text-secondary-light dark:text-primary-dark dark:hover:text-secondary-dark;
  }

  .section-background {
    @apply bg-gradient-to-b from-background-light/90 to-background-light/70 py-20 dark:from-background-dark/90 dark:to-background-dark/70;
  }

  .pin-note {
    @apply absolute rounded-full border-2 border-gray-800 bg-gradient-to-br shadow-md dark:border-gray-200;
  }
}
